<div data-price="{{ product.price / 100 }}" class="cart-item flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
    <div class="flex w-2/5"> <!-- product -->
        <div class="w-20">
            <img class="h-24" src="{{ product.image ? asset("uploads/products/")  ~ product.image : "https://thumbs.dreamstime.com/z/no-image-available-icon-photo-camera-flat-vector-illustration-132483296.jpg" }}" alt="">
        </div>
        <div class="flex flex-col justify-between ml-4 flex-grow">
            <span class="font-bold text-sm">{{ product.name }}</span>

            <div>
                <button data-value="{{ product.id }}" class="remove-item font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</button>
            </div>
        </div>
    </div>
    <div class="flex justify-center w-1/5">

        <input data-prevValue="{{ quantity }}" min="1" max="{{ product.stock }}" class="quantity-input-js mx-2 border text-center w-8" type="number" value="{{ quantity }}">

    </div>
    <span class="text-center w-1/5 font-semibold text-sm">{{ product.price / 100 }}€</span>
    <span class="total-price-js text-center w-1/5 font-semibold text-sm">{{ product.price * quantity / 100 }}€</span>
</div>