{% extends 'base.html.twig' %}

{% block title "Cart" %}

{% block body %}
    <div class="container mx-auto mt-10">
        <div class="flex shadow-md my-10">
            <div class="w-full bg-white px-10 py-10">
                <div class="flex justify-between border-b pb-8">
                    <h1 class="font-semibold text-2xl">Shopping Cart</h1>
                    <h2 class="font-semibold text-2xl">{{ products | length }} items</h2>
                </div>
                <div class="flex mt-10 mb-5">
                    <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>
                    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">
                        Quantity</h3>
                    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>
                    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Total</h3>
                </div>

                {% for product in products %}
                    {% include "cart/_item.html.twig" with {"product" : app.user ? product.product : product, "quantity" : product.quantity} %}
                {% else %}
                    <div class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
                        <p>No item yet</p>
                    </div>
                {% endfor %}
                <a href="{{ path("checkout_index") }}">
                    <button class="{{ products | length > 0 ? "bg-indigo-500" : "bg-indigo-300" }} mt-5 block font-semibold hover:bg-indigo-600 py-3 text-sm text-white uppercase w-full">
                        Checkout
                    </button>
                </a>
            </div>


        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('handleCartChange') }}
{% endblock %}
